# adding all this stuff in just in case

#------------------ Jupyter, R
.ipynb_checkpoints
.Rproj.user
#------------------ common OS config files
.DS_Store
.Spotlight-V100
Thumbs.db
desktop.ini
#----------------- data
*.zip
aps_reviews
names
database
config.py
config2.py
